@if (post?._id) {
<div class="post standard-page">
    <app-navbar></app-navbar>
    <app-mobile-navbar-special [title]="post?.title ?? '404'"></app-mobile-navbar-special>
    <app-mobile-menu (toggleMobileContextMenuShow)="ctx.isShow = !ctx.isShow"></app-mobile-menu>
    <app-mobile-context-menu #ctx></app-mobile-context-menu>

    <div class="container">

        <div class="page-body">
            <div class="gallery">
                <div class="gallery__main-image">
                    <img [src]="$any(post).images[currentImageIndex].link" alt="">
                    <div class="image-counts">{{ currentImageIndex + 1 }} / {{ $any(post).images?.length }}
                    </div>
                    <div class="favorite-button">
                        <input id="favoriteInput" (change)="toggleFavoritePost()" type="checkbox"
                            [disabled]="!(me$ | async)?._id" [checked]="isPostFavorite$ | async">
                        <label for="favoriteInput" class="bgimage"></label>
                    </div>
                </div>
                <div class="gallery__image-list scrollbar-h">
                    <div class="gallery__image-list-inner">
                        @for(image of post?.images; track $index) {
                        <a routerLink="./" [queryParams]="{image: $index}" class="gallery__image-list-inner__item">
                            <img [src]="image.link" alt="">
                        </a>
                        }
                    </div>
                </div>
            </div>
            <div class="info">
                <h1><strong>{{ post?.title }}</strong></h1>
                <h1 class="price"><strong>{{ post?.price }} руб</strong></h1>
                <i>{{ area?.name }}, {{ region?.name }}</i>
                <i class="publishDate">{{ post?.publishDate | date:'d MMMM, h:mm' }}</i>

                <hr>

                <h2><strong>Категория</strong></h2>
                <p>{{ categoryRoot?.name }} – {{ categoryChild?.name }}</p>

                <hr>

                <h2><strong>Описание</strong></h2>
                <p>{{ post?.body }}</p>

                <hr>

                <h2><strong>Продавец</strong></h2>
                <div class="owner">
                    @if(user?._id) {
                    <a routerLink="/user/{{post?.owner}}">
                        <app-user-card [user]="user"></app-user-card>
                    </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
} @else {
<div class="post standard-page">
    <app-navbar></app-navbar>
    <app-mobile-navbar-special title="404"></app-mobile-navbar-special>
    <app-mobile-menu (toggleMobileContextMenuShow)="ctx.isShow = !ctx.isShow"></app-mobile-menu>
    <app-mobile-context-menu #ctx></app-mobile-context-menu>

    <div class="container">

        <div class="page-body">
            <div>Post not found</div>
        </div>
    </div>
</div>
}