<div class="auth">
    <img src="../../../../assets/pages/login/login-bg.jpg" loading="lazy" alt="login image">
    <div class="form__container">
        <div class="logo">
            <svg>
                <defs>
                    <clipPath id="clip">
                        <path
                            d="M100.000,21.000 Q100,0 81.217,9.391L18.783,40.609 Q0,50 18.783,59.391L81.217,90.609 Q100,100 100.000,79.000Z" />
                    </clipPath>
                </defs>
            </svg>
            <div class="roof"></div>
            <h1>Iзбушка</h1>
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <input formControlName="email" type="email" name="email" class="my-input-green" placeholder="Email или номер телефона">
            <input formControlName="first_name" type="text" name="first_name" class="my-input-green" placeholder="Имя">
            <input formControlName="last_name" type="text" name="last_name" class="my-input-green" placeholder="Фамилия">
            <input formControlName="password" name="password" (input)="checkIsPasswordsEqual()" type="password" class="my-input-green" placeholder="Придумайте пароль">
            <input formControlName="confirm_password" name="password" (input)="checkIsPasswordsEqual()" type="password" class="my-input-green" placeholder="Подтвердите пароль">
            <div class="policy">
                Регистрируясь, вы принимаете наши условия
                <a routerLink="/policy">Политику конфиденциальности</a> и 
                <a routerLink="/policy">Политику в отношении файлов cookie</a>.
            </div>
            <app-my-button text="Регистрация" color="green" [hasBackground]="true" [disabled]="!signUpForm.valid || !isPasswordsEqual"></app-my-button>
            <span>
                <hr>
                <span>ИЛИ</span>
            </span>
            <div class="redirect">
                <p>Есть аккаунт? <a routerLink="/signin">Вход</a></p>
            </div>
        </form>
    </div>
</div>