@if(post && (user$ | async)) {
<div class="post">
    <img [src]="post.images.length && post.images[0]"
        onerror="this.src='../../../assets/pages/home/post-image-error.png'" loading="lazy" alt="post image">
    <div class="info">
        <h6>
            {{ post.title }}
        </h6>
        <p>
            <span class="owner">
                {{ (user$ | async)?.first_name }}, {{ (user$ | async)?.location?.areaID }}
            </span>
            <span class="date number">
                {{ post.publishDate | date:"d LLL, H:mm" }}
            </span>
        </p>
        <h4>
            <span class="number">
                {{ post.price }} руб
            </span>
        </h4>
    </div>
    <button class="favoriteButton bgimage" [ngClass]="{'active': true}">&nbsp;</button>
</div>
}