@import '@var/variables.scss';

.post {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: $main-black;
    overflow: hidden;
    transition: box-shadow $anim-tr $anim-mode;

    .post-image {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
        border-radius: 8px 8px 0 0;
        cursor: pointer;
        z-index: 1;

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 4/3;
            object-fit: cover;
            background-color: $main-gray-lighter;
            border-radius: 8px 8px 0 0;
            transition: transform $anim-tr $anim-mode;
        }
    }

    &:hover>.post-image>img {
        transform: scale(1.1);
    }

    a > * {
        color: $main-black;
    }

    .info {
        display: grid;
        grid-template-rows: auto auto 1fr;
        gap: $p-s;
        width: 100%;
        height: 100%;
        background-color: $main-beige-1-10;
        border: 2px solid $main-beige-1;
        border-top: none;
        border-radius: 0 0 8px 8px;
        padding: $p-m;
        z-index: 1;

        h6 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: $fs-m;
            font-weight: 600;
            line-height: $fs-l;
        }

        p {
            display: flex;
            flex-direction: column;
            gap: calc($p-s / 2);
        }

        h4 {
            align-self: flex-end;
            font-size: $fs-l;
            font-weight: 600;
        }
    }

    .favorite-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: $p-m;
        bottom: $p-m;
        width: $icon-m;
        height: $icon-m;
        z-index: 1;

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            visibility: hidden;
            cursor: pointer;

            &:checked~label {
                background-image: url('../../../../../assets/UI/post/heart-full.svg');
            }
        }

        label {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('../../../../../assets/UI/post/heart.svg');
            cursor: pointer;
            transition: background-image $anim-tr $anim-mode;
        }
    }
}

@media screen and (max-width: 1000px) {
    .post .info {
        height: 100%;
        // aspect-ratio: unset;
        gap: calc($mob-p-s / 2);
        padding: $mob-p-m;
    }

    .post .info h4 {
        height: fit-content;
        font-size: $mob-fs-l;
        margin-top: $mob-p-s;
    }

    .post .info h6 {
        font-size: $mob-fs-m;
        line-height: $mob-fs-l;
    }

    .post .info p {
        font-size: $mob-fs-s;
    }

    .post>.favoriteButton {
        right: $mob-p-m;
        bottom: $mob-p-m;
    }
}

@media screen and (max-width: 574px) {
    .post>.info {
        aspect-ratio: 2/1;
    }
}

@media screen and (max-width: 365px) {

    .post>.post-image,
    .post>.post-image>img,
    .post>.info {
        height: fit-content;
        aspect-ratio: unset;
        border: none;
        border-radius: 0;
    }
}