@if(post && (user$ | async) && (area$ | async) && (region$ | async)) {
<div class="post">
    <a routerLink="/post/{{post._id}}" class="post-image">
        <img [src]="post.images.length && post.images[0].link"
        onerror="this.src='../../../assets/pages/home/post-image-error.webp'" alt="post image">
    </a>
    <a routerLink="/post/{{post._id}}" class="info">
        <h6>
            {{ post.title }}
        </h6>
        <p>
            <span class="owner">{{ (area$ | async)?.name }}, {{ (region$ | async)?.name }}</span>
            <span class="date number">
                {{ post.publishDate | date:"d LLL, H:mm" }}
            </span>
        </p>
        <h4>
            <span class="number">
                {{ post.price }} руб
            </span>
        </h4>
    </a>
    <div class="favorite-button">
        <input id="favoriteInput_{{post._id}}" (change)="toggleFavoritePost()" type="checkbox" [disabled]="!(me$ | async)?._id" [checked]="isPostFavorite$ | async">
        <label for="favoriteInput_{{post._id}}" class="bgimage"></label>
    </div>
</div>
}