@if(post && (user$ | async)) {
<a routerLink="/post/{{post._id}}" target="_blank" class="post">
    <div class="post-image">
        <img [src]="post.images.length && post.images[0]"
        onerror="this.src='../../../assets/pages/home/post-image-error.webp'" alt="post image">
    </div>
    <div class="info">
        <h6>
            {{ post.title }}
        </h6>
        <p>
            <span class="owner">{{ (area$ | async)?.name }}, {{ (region$ | async)?.name }}</span>
            <span class="date number">
                {{ post.publishDate | date:"d LLL, H:mm" }}
            </span>
        </p>
        <h4>
            <span class="number">
                {{ post.price }} руб
            </span>
        </h4>
    </div>
    <button class="favoriteButton bgimage" [ngClass]="{'active': true}">&nbsp;</button>
</a>
}