@import '../../../../variables.scss';

aside {
    width: 100%;
    height: 100%;

    form {
        display: flex;
        flex-direction: column;
        row-gap: calc($button-height + $p-l);
        width: 100%;
        height: fit-content;

        .post_type {
            display: flex;
            position: relative;
            width: 100%;
            column-gap: $p-s;

            label {
                position: absolute;
                width: $tab-button-width;
                height: $button-height;
                font-size: $fs-s;
                user-select: none;
                cursor: pointer;

                &:first-child {
                    left: 0;
                    top: 0;
                    clip-path: polygon(0% 0%, 44% 0%, 53% 100%, 0% 100%);

                    .checkmark {
                        justify-content: left;

                        &::after {
                            clip-path: polygon(0% 0%, 43.5% 0%, 52% 100%, 0% 100%);
                        }
                    }
                }

                &:last-child  {
                    top: 0;
                    right: 0;
                    clip-path: polygon(47% 0%, 100% 0%, 100% 100%, 56% 100%);

                    .checkmark {
                        justify-content: right;

                        &::after {
                            clip-path: polygon(48% 0%, 100% 0%, 100% 100%, 56.5% 100%);
                        }
                    }
                }

                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;

                    &:checked~.checkmark {
                        color: $main-white;
                        
                        &::after {
                            background-color: $main-green-3;
                        }
                    }
                }

                &:hover>.checkmark {
                    color: $main-white;

                    &::after {
                        background-color: $main-green-3;
                    }
                }

                .checkmark {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding: 0 calc($p-m * 2 + $p-s);
                    transition: all $anim-tr $anim-mode;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $main-green-3;
                        transition: all $anim-tr $anim-mode;
                        z-index: -2;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 1.5px;
                        top: 1.5px;
                        width: calc(100% - 3px);
                        height: calc(100% - 3px);
                        background-color: $main-white;
                        transition: all $anim-tr $anim-mode;
                        z-index: -1;
                    }
                }
            }
        }
    }
}