@import '@var/variables.scss';

.searchButton {
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;

    &.black > button > svg > path { fill: $main-black; stroke: $main-black; }
    &.white > button > svg > path { fill: $main-white; stroke: $main-white; }
    &.green > button > svg > path { fill: $main-green-3; stroke: $main-green-3; }

    button {
        width: auto;
        height: inherit;
        aspect-ratio: inherit;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all $anim-tr $anim-mode;

        &:hover {            
            svg > path {
                fill: $main-beige-1;
                stroke: $main-beige-1;
            }
        }

        svg {
            width: auto;
            height: inherit;
            aspect-ratio: inherit;

            path {
                transition: all $anim-tr $anim-mode;
            }
        }
    }
}