<div class="home">
    <app-navbar></app-navbar>
    <div class="container">
        <aside>
            <form action="/">
                <div class="post_type">
                    <label>
                        <input type="radio" name="post_type" checked>
                        <div class="checkmark">Товары</div>
                    </label>
                    <label>
                        <input type="radio" name="post_type">
                        <div class="checkmark">Услуги</div>
                    </label>
                </div>
                <hr>
            </form>
        </aside>
        <div class="postList">
            <app-post *ngFor="let post of posts" [post]="post"></app-post>
        </div>
    </div>
</div>