@import '../../../variables.scss';

.home {
    .container {
        display: grid;
        grid-template-columns: $aside-width auto;
        column-gap: $p-l;
        height: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .home>app-navbar {
        display: none;
    }

    .home>app-mobile-navbar,
    .home>app-mobile-menu {
        display: block;
    }

    .home>.container {
        grid-template-columns: 1fr;

        app-home-aside {
            display: none;
        }
    }
}