<div class="favorite standard-page">
    <app-navbar></app-navbar>
    <app-mobile-navbar-special title="Избранные"></app-mobile-navbar-special>
    <app-mobile-menu (toggleMobileContextMenuShow)="ctx.isShow = !ctx.isShow"></app-mobile-menu>
    <app-mobile-context-menu #ctx></app-mobile-context-menu>

    <div class="container">
        <div class="page-title">
            <h2>Избранные</h2>
        </div>
        <hr>
        <div class="page-body">
            <app-posts [posts$]="posts$"></app-posts>
        </div>
    </div>
</div>