/* Colors */

$main-white: #FFFFFF;
$main-black: #303030;
$main-gray: #909090;
$main-gray-light: #c4c4c4;
$main-gray-lighter: #e8e8e8;
$main-green-1: #18604A;
$main-green-2: #1E6851;
$main-green-3: #257157;
$main-green-3-50: #6bb399;
$main-green-3-10: #d1ebe1;
$main-green-4: #6AB29C;
$main-beige-1: #f5e8db;
$main-beige-1-10:#fffdfa;
$main-beige-1-light: #f7e8da;
$main-beige-2: #f1d8bc;
$main-beige-3: #E5D5C6;
$main-red: #F44336;
$main-blue: #1E88E5;
$main-yellow: #FFA000;

/* Fonts */

/* Raleway */
// @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:wght@400;600&family=Raleway&display=swap');

/* Roboto */
// @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:wght@400;600&family=Raleway&family=Roboto&display=swap');

/* Pacifico */
// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Miama-nueva */
@font-face {
    font-family: "MiamaNueva";
    src: url("./fonts/miama-nueva/miamanueva.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Font size */

$fs-s: 12px;
$fs-m: 16px;
$fs-l: 20px;
$fs-xl: 24px;

/* Sizes */

$container-width: 1500px;
$nav-height: 60px;
$aside-width: 300px;
$tab-button-width: 300px;
$button-width: 200px;
$button-height: 40px;
$icon-s: 10px;
$icon-m: 20px;
$icon-l: 30px;

/* Border radius */

$b-r-inner: 8px;
$b-r-outer: 16px;

/* Paddings */

$p-s: 10px;
$p-m: 20px;
$p-l: 30px;

/* Animation */

$anim-tr: 0.2s;
$anim-mode: ease-out;