/* Colors */

$main-white: #f7f3eb;
$main-black: #303030;
$main-gray: #909090;
$main-image-placeholder: #dddddd;
$main-green-1: #18604A;
$main-green-2: #1E6851;
$main-green-3: #257157;
$main-green-3-50: rgba(37, 113, 87, 0.5);
$main-green-3-10: rgba(37, 113, 87, 0.1);
$main-green-4: #6AB29C;
$main-beige-1: #E5D5C6;
$main-beige-2: #95877A;
$main-red: #F44336;
$main-blue: #1E88E5;
$main-yellow: #FFA000;

/* Fonts */

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:wght@400;600&family=Raleway&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:wght@400;600&family=Raleway&family=Roboto&display=swap');

/* Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Miama-nueva */

@font-face {
    font-family: MiamaNueva;
    font-weight: 400;
    src: "./fonts/miama-nueva/miama-nueva.otf" format("opentype");
}

/* Font size */

$fs-s: 10px;
$fs-m: 14px;
$fs-l: 24px;
$fs-xl: 36px;

/* Sizes */

$container-width: 1280px;
$nav-height: 60px;
$icon-s: 10px;
$icon-m: 20px;
$icon-l: 30px;

/* Border radius */

$b-r-inner: 8px;
$b-r-outer: 16px;

/* Paddings */

$p-s: 10px;
$p-m: 20px;
$p-l: 30px;

/* Animation */

$anim-tr: 0.2s;
$anim-mode: ease-out;