@import '../../../../../variables.scss';

.navbar-menu-link {
    width: 100%;

    a {
        display: flex;
        align-items: center;
        grid-gap: $p-s;
        position: relative;
        color: $main-black;
        width: 100%;
        height: $button-height;
        background-color: transparent;
        padding: 0 $p-m;
        transition: background-color $anim-tr $anim-mode;

        &:hover {
            background-color: $main-green-3;
            color: $main-white;
        }

        .navbar-menu-link-icon {
            position: relative;
            width: auto;
            height: $icon-m;
            aspect-ratio: 1/1;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transform: opacity $anim-tr $anim-mode;

                &:last-child {
                    opacity: 0;
                }
            }
        }

        &:hover > .navbar-menu-link-icon > img {
            opacity: 0;

            &:last-child {
                opacity: 1;
            }
        }

        .navbar-menu-link-name {
            white-space: nowrap;
        }
    }
}