@import '../../../variables.scss';

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: $p-m $p-s;
    width: 100%;
    height: fit-content;

    app-post {
        width: 100%;
        height: fit-content;
    }
}