<div class="user standard-page">
    <app-navbar></app-navbar>
    <app-mobile-navbar></app-mobile-navbar>
    <app-mobile-menu></app-mobile-menu>

    <div class="container">
        @if((user$ | async)?._id) {
        <app-user-card [user]="(user$ | async)"></app-user-card>
        <hr>
        <div class="posts">
            <div class="posts-header">
                <h2>Объявлений: <span>{{ (user$ | async)?.posts?.length }}</span></h2>
            </div>
            <hr>
            <div class="posts-body">
                <app-posts [posts$]="posts$"></app-posts>
            </div>
        </div>
        } @else {
        <div class="notFound">
            <div class="notFound-inner">
                <h2>Пользователь не найден!</h2>
                <a routerLink="/">Вернуться на главную страницу</a>
            </div>
        </div>
        }
    </div>
</div>