<app-navbar></app-navbar>

<div class="user">
    <div class="container">
        @if((user$ | async)?._id) {
        <app-user-card [user]="(user$ | async)" [isMe]="false"></app-user-card>
        <hr>
        <div class="posts">
            <div class="posts-header">
                <h2>Объявлений: <span>{{ (user$ | async)?.posts?.length }}</span></h2>
            </div>
            <hr>
            <div class="posts-body">
                @for(post of (user$ | async)?.posts; track $index) {

                } @empty {
                    <div class="empty-block">
                        <p>Здесь пока что пусто...</p>                        
                    </div>
                }
            </div>
        </div>
        } @else {
        <div class="notFound">
            <div class="notFound-inner">
                <h2>Пользователь не найден!</h2>
                <a routerLink="/">Вернуться на главную страницу</a>
            </div>
        </div>
        }
    </div>
</div>