<div class="create-post standard-page">
    <app-navbar></app-navbar>
    <app-mobile-navbar-special title="Подача объявления"></app-mobile-navbar-special>
    <app-mobile-menu (toggleMobileContextMenuShow)="ctx.isShow = !ctx.isShow"></app-mobile-menu>
    <app-mobile-context-menu #ctx></app-mobile-context-menu>

    <div class="container">
        <div class="page-title">
            <h1>Подача объявления</h1>
        </div>
        <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
            <section class="section-post-photos">
                <div class="section-title">
                    <h2>Фотографии</h2>
                </div>
                <div class="section-body">
                    <div class="photos-preview scrollbar-h">
                        <div class="preview-image-list">
                            @for(url of imagesPreview; track url; let index = $index) {
                            <div class="preview-image">

                                <img [src]="url" alt="Image Preview">
                                <button class="preview-image-remove__button" (click)="removeImage(index)">
                                    <img src="../../../../assets/pages/create-post/trash.svg"
                                        alt="Remove Preview Image Button Icon">
                                </button>

                            </div>
                            }
                        </div>
                    </div>
                    <div class="photos-loader" [ngClass]="{ 'drag__start': isDragStart }" draggable="true"
                        (dragover)="isDragStartSet(true)" (dragleave)="isDragStartSet(false)"
                        (dragstart)="isDragStartSet(false)" (dragend)="isDragStartSet(false)">
                        <input (change)="onFilesLoad($event)" type="file" maxlength="10" multiple="multiple"
                            accept="image/png, image/jpg, image/jpeg">
                        <p>Перетащите фотографии сюда или кликните здесь</p>
                        <div class="photos-loader-description">
                            <div class="photos-loader-description-recomendation">
                                <p>Используйте реальные фото вашего товара в разных ракурсах.<br>Максимальный размер:
                                    10 МБ.</p>
                            </div>
                            <div class="photos-loader-description-loaded">
                                <img src="../../../../assets/pages/create-post/image.svg"
                                    alt="Photos Loader Description Icon">
                                <p>Загружено&nbsp;<span>{{ imagesPreview.length }}</span> из <span>10</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-post-title">
                <div class="section-title">
                    <h2>Название товара / услуги*</h2>
                </div>
                <div class="section-body">
                    <input #title [formControl]="createPostForm.controls.title" class="my-input-green" minlength="1" maxlength="50" type="text"
                        placeholder="Например, краска Caparol" (blur)="checkFieldValid(title)" >
                    <i>{{ title.value.length }} из 50 знаков</i>
                </div>
            </section>
            <section class="section-post-category">
                <div class="section-title">
                    <h2>Выбор категории</h2>
                </div>
                <div class="section-body">
                    <div class="section-body-inner">
                        <div class="category-list-container">
                            <div class="category-list-inner scrollbar-v">
                                <ul>
                                    @for(category of categoryList$ | async; track category._id) {
                                    @if(!category.parent) {
                                    <li>
                                        <input type="radio" (change)="setRootCategory(category._id)" name="category"
                                            id="subcategory-item-{{category._id}}"
                                            [checked]="rootCategory === category._id">
                                        <label (mouseenter)="setRootCategory(category._id)"
                                            for="subcategory-item-{{category._id}}">{{category.name}}</label>
                                    </li>
                                    }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="subcategory-list-container">
                            <div class="subcategory-list-inner scrollbar-v">
                                <ul>
                                    @for(category of categoryList$ | async; track category._id) {
                                    @if(category.parent === rootCategory) {
                                    <li>
                                        <input [formControl]="createPostForm.controls.category" type="radio" name="subcategory"
                                            id="subcategory-item-{{category._id}}" [value]="category._id" [checked]="createPostForm.value.category === category._id">
                                        <label for="subcategory-item-{{category._id}}">{{category.name}}</label>
                                    </li>
                                    }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-post-description">
                <div class="section-title">
                    <h2>Описание</h2>
                </div>
                <div class="section-body">
                    <div class="textarea-container">
                        <textarea #body [formControl]="createPostForm.controls.body" minlength="20" maxlength="4000" class="my-input-green scrollbar-v" name="post-description"
                            (blur)="checkFieldValid(body)"></textarea>
                    </div>
                    <i>
                        <span>{{ body.value.length }} из 4000 знаков</span>
                        <span>Минимально: 20 знаков</span>
                    </i>
                </div>
            </section>
            <hr>
            <section class="section-post-price">
                <div class="section-title">
                    <h2>Цена</h2>
                </div>
                <div class="section-body">
                    <div class="price-type">
                        <div class="price-type-default">
                            <input (change)="setIsPriceFree(false)" type="radio" name="price-type"
                                id="price-type-default" checked>
                            <label for="price-type-default">Цена</label>
                        </div>
                        <div class="price-type-free">
                            <input (change)="setIsPriceFree(true)" type="radio" name="price-type" id="price-type-free">
                            <label for="price-type-free">Бесплатно</label>
                        </div>
                    </div>
                    @if(!isPriceFree) {
                    <div class="price-input">
                        <input #price [formControl]="createPostForm.controls.price" (blur)="checkFieldValid(price)" class="my-input-green" min="0" maxlength="6" type="number" step="1.0" placeholder="Например: 4.20">
                        <span>руб</span>
                        <i>Чтобы поставить договорную цену, оставьте поле пустым</i>
                    </div>
                    }
                </div>
            </section>
            <!-- <section class="section-post-phone">
                <div class="section-title">
                    <h2>Телефон</h2>
                </div>
                <div class="section-body">
                    <p>Скрыть телефон в объявлении</p>
                    <input id="phone-checkbox" type="checkbox" name="phone-checkbox" checked>
                    <label for="phone-checkbox" class="my-input-green">
                        <img src="../../../../assets/pages/create-post/checkmark.svg" alt="Phone Checkmark">
                    </label>
                </div>
            </section> -->
            <hr>
            <section class="section-post-location">
                <div class="section-title">
                    <h2>Местоположение товара / услуги*</h2>
                </div>
                <div class="section-body">
                    <mat-form-field>
                        <mat-label>Выберете город</mat-label>
                        <mat-select [formControl]="createPostForm.controls.location.controls.area">
                            @for(area of areaList$ | async; track area._id) {
                            <mat-option [value]="area._id">{{ area.name }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="region">
                        <mat-label>Выберете район</mat-label>
                        <mat-select [formControl]="createPostForm.controls.location.controls.region">
                            @for(region of regionList$ | async; track region._id) {
                            @if(region.parent === createPostForm.value.location?.area) {
                            <mat-option [value]="region._id">{{ region.name }}</mat-option>
                            }
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </section>
            <hr>
            <section class="section-final">
                <div class="section-body">
                    <i>Публикуя объявления, вы соглашаетесь с <a routerLink="/policy">правилами</a>.</i>
                    <app-my-button text="Подать объявление" color="green"
                        [hasBackground]="true" type="submit" [disabled]="!createPostForm.valid || isLoading"></app-my-button>
                </div>
            </section>
        </form>
    </div>
</div>