@if(user) {
    <div class="user-card">
        <div class="avatar">
            <img [src]="user.avatar" onerror="this.src='../../../../../assets/UI/user-card/default-avatar.svg';"  alt="User Avatar">
        </div>
        <div class="info">
            <div class="name">{{ user.first_name }}</div>
            <div class="location">{{ (location$ | async)?.area?.name }}, {{ (location$ | async)?.region?.name }}</div>
            <div class="rating">
                <div class="rating-count">Рейтинг: <span>{{ user.rating || '?' }}</span></div>
                <div class="rating-stars">
                    @if (user.rating) {
                        @for(_ of [].constructor(user.rating); track $index) {
                            <img src="../../../../../assets/UI/user-card/star.svg" alt="Star Icon">
                        }
                    }
                </div>
            </div>
            <div class="reviews">
                <div class="reviews-count">Отзывов: <span>0</span></div>
            </div>
            
            @if(user._id !== (current_user$ | async)?._id) {
                <div class="chat-link">
                    <a routerLink="/chat/{{user._id}}">Написать</a>
                </div>
            }
        </div>
    </div>
}