@import '@var/variables.scss';

.myButton {
    width: 100%;
    height: 100%;

    button {
        width: 100%;
        height: $button-height;
        background-color: transparent;
        border: 2px solid $main-beige-1;
        border-radius: $b-r-inner;
        cursor: pointer;
        font-size: $fs-s;
        font-weight: 600;
        letter-spacing: 1px;
        color: $main-black;
        transition: all $anim-tr $anim-mode;

        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }

    &.none > button {
        border: none;
        color: $main-black;

        &.hasBackground {
            background-color: $main-black;
            color: $main-white;
        }
    }

    &.white > button {
        border-color: $main-white;
        color: $main-white;

        &.hasBackground {
            background-color: $main-white;
            color: $main-black;

            // &:hover {
            //     border-color: $main-beige-3;
            //     background-color: $main-beige-1-10;
            // }
        }
    }

    &.beige > button {
        border-color: $main-beige-2;
        color: $main-beige-1;

        &.hasBackground {
            background-color: $main-beige-2;
            color: $main-black;
        }
    }

    &.green > button {
        border-color: $main-green-3;

        &.hasBackground {
            background-color: $main-green-3;
            color: $main-white;
        }
    }

    &.red > button {
        border-color: $main-red;

        &.hasBackground {
            background-color: $main-red;
            color: $main-white;
        }
    }
}