@import '@var/variables.scss';

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $nav-height;
    background-color: $main-green-3;
    padding: $p-s;
    z-index: 2;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 150px;
        height: 100%;
        background-color: $main-green-2;
        clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 100%;
        background-color: $main-green-1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    }

    .container {
        display: flex;
        column-gap: $p-s;
        min-height: fit-content;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 2;

        a.logo {
            display: flex;
            column-gap: $p-m;
            width: fit-content;
            height: 100%;
            text-decoration: none;
            margin-right: $p-m;

            .icon {
                width: auto;
                height: 100%;
                aspect-ratio: 1/1;

                svg {
                    width: auto;
                    height: 100%;
                    aspect-ratio: 1/1;
                    object-fit: contain;

                    path {
                        stroke-width: 0;
                    }
                }
            }

            .title {
                display: flex;
                align-items: center;
                height: 100%;

                h1 {
                    position: relative;
                    font-family: 'Pacifico', cursive;
                    font-size: 24px;
                    color: $main-white;
                    font-weight: 400;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 5px;
                        top: -10px;
                        width: 5px;
                        height: 5px;
                        background-color: $main-white;
                        border-radius: 50%;
                    }
                }
            }
        }

        .search {
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;

            input {
                width: 100%;
                height: 100%;
                padding-right: calc($p-l + $icon-m + $p-l);
            }

            app-search-button {
                position: absolute;
                right: $p-l;
                top: 50%;
                transform: translateY(-50%);
                width: $icon-m;
                height: $icon-m;
                z-index: 2;
            }
        }

        .create-post {
            width: $button-width;
            min-width: $button-width;
            height: 100%;
            margin-right: $p-m;

            app-my-button {
                height: 100%;
            }
        }

        .profile {
            app-profile-button:hover+app-navbar-menu,
            app-navbar-menu:hover {
                pointer-events: all;
                opacity: 1;
            }

        }
    }

    .menu {
        width: auto;
        height: 100%;
        aspect-ratio: 1/1;
        cursor: pointer;

        button {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;

            img {
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                object-fit: contain;
            }
        }
    }
}